






:root{
    --spanish-grey: hsl(0, 0%, 60%);
    --sonic-silver: hsl(0, 0%, 47%);
    --eerie-black: hsl(0, 0%, 13%);
    --salmon-pank: hsl(353, 100%, 78%);
    --sandy-brown: hsl(29, 90%, 65%);
    --bittersweet: hsl(0, 100%, 70%);
    --ocean-green: hsl(152, 51%, 52%);
    --davys-gray: hsl(0, 0%, 33%);
    --cultured: hsl(0, 0%, 93%);
    --white: hsl(0, 100%, 100%);
    --onyx: hsl(0, 0%, 27%);


       /* typography  */
        
       --fs-1: 1.563rem;
       --fs-2: 1.375rem;
       --fs-3: 1.25rem;
       --fs-4: 1.125rem;
       --fs-5: 1rem;
       --fs-6: 0.938rem;
       --fs-7: 0.875rem;
       --fs-8: 0.875rem;
       --fs-9: 0.75rem;
       --fs-10: 0.688rem;
       --fs-11: 0.625rem;


       --weight-300: 300;
       --weight-400: 400;
       --weight-500: 500;
       --weight-600: 600;
       --weight-700: 700;


        /* border-radius   */

        --border-radius-md: 10px;
        --border-radius-sm: 5px;
       
        /* transition  */

        --transition-timing: 0.2s ease;


}


 /* reset  */

 *, *::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 a {
    text-decoration: none;
 }
 li{
    list-style: none;
 }
 button{
    background: none;
    font:inherit;
    border: none;
    cursor: pointer;
 }
 img, ion-icon, button, a{
    display: block;
 }
 span{
    display: inline-block;
 }
 html{
    font-family: "Poppins",sans-serif;
    overscroll-behavior: contain;
 }
 input{
    display: block;
    width: 100%;
    font: inherit;
 }
 input::placeholder{
    font:inherit;
 }
 body{
    background: var(--white);
 }
 body::-webkit-scrollbar{
    width: 15px;
 }
 body::-webkit-scrollbar-track{
    background: var(--white);
    border-left: 1px solid var(--cultured);
 }
 body::-webkit-scrollbar-thumb{
    background: --0,hsl(0, 13%, 95%);
    border: 3px solid --white;
    border-radius: 10px;
 }
 body::-webkit-scrollbar-thumb:hover{
   background: hsl(0, 0%, 70%);
 }
 .overlay{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   background: hsla(0, 0%, 0%, 0.5);
   opacity: 0;
   pointer-events: none;
   z-index: 15;
   transition: 0.5s ease;
 }
 .overlay.active{
   opacity: 1;
   pointer-events: all;
 }
 .model{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   background: hsla(0, 4%, 20%, 0.5);
   display: flex;
   justify-content: center;
   align-items: center;
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
   z-index: 10;
   animation: popup 1s ease-in-out 3s forwards;
 }



 @keyframes popup{

   0%{
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
   }
   100%{
      opacity: 1;
      visibility: visible;
      pointer-events: none;
   }
 }

 .model.closed{
   display: none;
 }
 .model-close-overlay{
   position: absolute;
   top: 0;
   left: 0;width: 100%;
   height: 100%;
   z-index: 1;
 }
 .newsletter-img{
   display: none;
 }
 .model-content{
   position: relative;
   max-width: 350px;
   margin: 20px;
   background: var(--white);
   border-radius: var(--border-radius-md);
   overflow: hidden;
   z-index: 2;
   animation: scaleUp 0.5s ease-in-out 5s forwards;
 }

 @keyframes scaleUp{
   0%{
      transform: scale(0.9);
   }
   100%{
      transform: scale(1);

   }
 }

 .model-close-btn{
   position: absolute;
   top: 15px;
   right: 15px;
   background: var(--salmon-pank);
   color: var(--white);
   font-size: 16px;
   padding: 5px;
   border-radius: var(--border-radius-sm);
 }
 .model-close-btn:hover{
   opacity: 0.9;
 }
 .model-close-btn ion-icon{
   --ionicon-stroke-width:70px;
 }
 .newsletter {
   padding: 50px 30px;
   text-align: center;
 }
 .newsletter-header{
   color: var(--onyx);
   font-size: var(--fs-2);
   font-weight: var(--weight-600);
   margin-bottom: 10px;
 }
 .newsletter-desc{
   color: var(--sonic-silver);
   font-size: var(--fs-7);
   line-height: 1.6;
 }
 .email-field{
   font-size: var(--fs-7);
   padding: 8px 16px;
   border-radius: var(--border-radius-sm);
   border: 1px solid --cultured;
   margin-bottom: 16px;
 }
 .btn-newsletter{
   background: var(--eerie-black);
   color: var(--white);
   font-size: var(--fs-7);
   font-weight: var(--weight-600);
   text-transform: uppercase;
   padding: 10px 15px;
   border-radius: var(--border-radius-sm);    margin: auto;
   transition: var(--transition-timing);
 }
 .btn-newsletter:hover{
   background: var(--salmon-pank);
 }